.navbar {
    background-color: white !important;
    border-bottom: 0.5px solid #122147 !important;
}
.search-bar .awesomplete input {
    width: 100% !important;
    padding-left: 36px;
    height: 28px;
    font-size: var(--text-sm);
    font-weight: var(--weight-regular);
    letter-spacing: .02em;
    background-color: #122147;
}
#navbar-search{
color:white !important;
background-color: #122147 !important;

}
.layout-side-section {
    background-color: #122147 !important;
}
.sidebar-item-label{
    color:white;
}

.page-head .page-head-content{
background-color:#122147 !important;
}

.icon {
    fill: white !important;
    stroke: white !important;
}

.title-text {
    color: white !important;
}

html.chrome {
    background-color: #122147 !important;
}

#page-Workspaces {
    background-color: #122147;
}
.page-head.flex {
    background-color: #122147;
}
button.btn-reset.standard-sidebar-label {
    color: white;
}
.sidebar-item-label:hover{ color: #122147 !important;
}


input#navbar-search::placeholder {
    color:white;
}

svg.es-icon.icon-md.sidebar-toggle-placeholder {
    fill: white;
    stroke: white;
}

.desk-sidebar-item.selected .sidebar-item-label {
    color: #122147 !important;
}
svg.es-icon.icon-sm {
    fill: #122147 !important;
    stroke: #122147 !important;
    stroke-width:0.5px;
}

.list-sidebar.overlay-sidebar.hidden-xs.hidden-sm.opened {
    background-color: #122147;
}
.widget.onboarding-widget-box {
    border: 2px solid #122147 !important;
    border-radius: 10px !important;
}
.btn.btn-sm.btn-secondary.small {
    background-color: #122147;
    color: white;
}
button.btn.btn-default.btn-sm {
    background-color: #122147 !important;
    color: white;
}
svg.es-icon.es-line.step-icon.icon-md {
    stroke: #122147;
    stroke-width: 0.2px;
}
a.onboarding-step.pending.active {
    background-color: #122147 !important;
    color: white;
}
.onboarding-step.active .step-icon {
    fill: #fff !important;   
    stroke: #fff !important; 
}
